body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    direction: rtl;

}
.nav-link{
    font-size: 16px;
    
}
.navbar{
    width: 100%;
    background-color: rgb(61, 59, 59);
    position: fixed;
    z-index:4;
  
}
ul > li {
      
    padding-left: 50px;
    padding-right: 50px;
}

.dropdown >.dropdown-menu > .dropdown-item {
    padding: 10px 0px 10px 10px;
}
.dropdown >.dropdown-menu{
    background-color:rgb(61, 59, 59);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dropdown >.dropdown-menu > .dropdown-item:hover {
    background-color:rgb(99, 50, 212);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dropdown{
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

ul> li:hover > #secand-menu{
display: flex; 
 flex-direction: column;
}

ul> li:hover  {
  background-color:rgb(99, 50, 212);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.carousel-caption{
top:100px;
left: 0px;
right: 0px;  
}
.h1-responsive{
    font-size: 80px;
    font-weight: bold;
    color:whitesmoke;
}
.h2-responsive {
    font-size: 40px;
    font-weight: bold;
    color:whitesmoke;
    /* color:rgb(208, 29, 214); */
}
/* ========size of carousel ========== */
.carousel-inner{
    height: 750px;
}
.p-third{
    color: white;
    font-size:20px;
    margin-top : 200px;
    margin-left: 10em;
}
.Secand-third{
    color: white;
    font-size:20px;
    margin-top : 100px;
    margin-left: 5em;
}
.p-third2 {
    margin-left: 3em;
}
.main_img{
    width: 100%;
    height: 35em;
}
.head1{
    top:120px
}
.carousel-control-prev{
    width: 100px;
}

.arrow{
    /* position: relative; */
    color: darkorchid;
    font-family:sans-serif;
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     flex-wrap: wrap;
     height: 450px;
     width: 100%;
     margin-top: 0px;
     padding-top: 50px;
     background-color: rgba(61, 59, 59, 0.164);
}
.arrow-item{
 overflow: hidden;
 z-index: 1;
 box-sizing: border-box;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
}

.img1{
   background-image: url("../img/grand-water-dispenser-3-spigots-bottom-loading-silver-wdq1175.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   position: relative;
   color: white;
   z-index: 2;
   font-size: 35px;
   width: 100%;
   height: 350px;
   transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
   .img1:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.img1-1{
    position: absolute;
    width:200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    top:250px;
    left: 70px;
    direction: rtl;
    color: white;
    z-index: 2;
}

.img1::before{
    content: ' ';
    width: 100%;
    height: 350px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.582), Transparent);
}
.img2{
   background-image: url("../img/third.png");
   background-size:cover;
   background-repeat: no-repeat;
   position: relative;
   color: white;
   z-index: 2;
   font-size: 35px;
   width: 100%;
   height: 350px;
   transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
   .img2:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.img2::before{
    content: ' ';
    width: 100%;
    height: 350px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.582), Transparent);
}
.img2-1{
    position: absolute;
    width:200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    top:250px;
    left: 70px;
    direction: rtl;
    color: white;
    z-index: 2;
}
.img3{
   background-image: url("../img/168898911_4246926891998249_5196368521874412134_n.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   position: relative;
   color: white;
   z-index: 2;
   font-size: 35px;
   width: 100%;
   height: 350px;
   transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}

.img3-1{
    position: absolute;
    width:200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    top:250px;
    left: 70px;
    direction: rtl;
    color: white;
    z-index: 2;
}
   .img3:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.img3::before{
    content: ' ';
    width: 100%;
    height: 350px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.582), Transparent);
}

.store{
    /* position: relative; */
    width: 100%;
    height: 500px;
    overflow: scroll;
    /* background-color: blueviolet; */
    margin-top: 50px;
    /* margin-left: 50px; */
    background-color:rgba(61, 59, 59, 0.164);
}

.store-item{
    overflow: hidden;
    height: 300px;
    margin-left: 100px;
    margin-bottom:50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.store-item1{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item1{
    left: -100px;
}
/* ================== */
.store-item2{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item2{
    left: -100px;
}
/* ====================== */
.store-item3{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item3{
    left: -100px;
}
/* ================== */
.store-item4{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item4{
    left: -100px;
}
/* ============ */
.store-item5{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item5{
    left: -100px;
}
/* =============== */
.store-item6{
    border: 1px solid transparent;
    background-color: rgba(30, 30, 235, 0.411);
    border-radius: 190px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    top:100px;
    left: -400px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.store-item:hover> .store-item6{
    left: -100px;
}

.fourth{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    box-sizing: border-box;
}
.fourth2{
    margin-left: 100px;
}
/* ..fourth1{

} */

.fourth1-1{
    direction: rtl;
    text-align: center;
    font-size:60px;
    font-weight: bold;
}
.fourth1-2{
    direction: rtl;
    text-align: start;
    font-size:25px;
}
/* .fourth2{
   
} */
.fourth-img{
  width: 100%;
  height: 100%;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
}

.footer{
    height: 350px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    margin-top: 50px;
    background-color:rgb(61, 59, 59);
}
.footer1{
    padding-top: 60px;
    padding-left: 50px;
    text-align: start;
    direction: rtl;
}
.footer2{
    padding-left: 50px;
}
.font{
 display:flex;
 flex-direction: row;
 justify-content: end;
 padding-bottom: 15px;
 color: white;

}
.font1{
    display:flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 5px;
   }
   .footer-frest-part{
       padding-top: 30px;
       font-size: 20px;
    }
    .wav{
        height:450px;
    }
    .wav2{
        position: relative;
        height: 300px;
        padding-bottom: 46px;
        margin-top: 40px;
    }
    .wav2-2{
      width:100%;
      height: 75%;
      background-image:url("../img/family.jpg");
      background-repeat: repeat;
      background-size: cover;
  
      border-radius:180px;
      position: relative;
      -webkit-border-radius:180px;
      -moz-border-radius:180px;
      -ms-border-radius:180px;
      -o-border-radius:180px;
}
.wav2-3{
    width:100%;
    height: 75%;
    background-image:url("../img/pexels-mikhail-nilov-7682340.jpg");
    background-repeat: repeat;
    background-size: cover;

    border-radius:180px;
    position: relative;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
}
.wav2-4{
    width:100%;
    height: 75%;
    background-image:url("../img/24.png");
    background-repeat: repeat;
    background-size: cover;

    border-radius:180px;
    position: relative;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
}
.wav2-5{
    width:100%;
    height: 75%;
    background-image:url("../img/pexels-pixabay-416528.jpg");
    background-repeat: repeat;
    background-size: cover;

    border-radius:180px;
    position: relative;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
}
.wav2-6{
    width:100%;
    height: 75%;
    background-image:url("../img/images.jfif");
    background-repeat: repeat;
    background-size: cover;

    border-radius:180px;
    position: relative;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
}
.wav2-7{
    width:100%;
    height: 75%;
    background-image:url("../img/201751127_4470322112992058_9219414826706761_n.jpg");
    background-repeat: repeat;
    background-size: cover;

    border-radius:180px;
    position: relative;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
}
    .title{
        padding-top: 30px;
    font-family: 'Lobster', cursive;
font-family: 'Rubik Beastly', cursive;
font-weight:bold;
text-align: center;
    }
    .text{
        font-weight:bold;
         margin-top: 20px;
         text-align: center;
    }

    /* ===================teamWork page================ */
    .team-div12{
        height:100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position:relative;
        justify-content: space-around;
        background-color: rgba(8, 7, 70, 0.774);
        color: white;
        z-index: 3;
    }
    .team-div112{
        /* height:60vh; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position:relative;
        justify-content: space-evenly;
        background-color: rgb(27, 79, 223);
        color: black;
        z-index: 3;
    }
    .team-div1{
        height:80vh;
        display: flex;
        flex-direction: row;
        position:relative;
        justify-content: space-around;
        background-color: rgba(43, 181, 216, 0.521);
        color: black;

    }
    .team-div11{
        height:80vh;
        display: flex;
        flex-direction: row;
        position:relative;
        justify-content: space-around;
        background-color: rgb(69, 69, 235);
        color: black;
    }
    .teamwork{
        position: relative;
        padding-top: 50px;
        height: 95vh;
        border-radius: 120px;
        display: flex;
        flex-direction: column;
    }
    .teamwork2{
        position: relative;
        padding-top: 50px;
        margin-top: 100px;
        height: 100vh;
        border-radius: 120px;
        display: flex;
        flex-direction: column;

    }
    .team-div1-1{
        width: 50%;
        height: 27%;
        background-image:url("../img/201751127_4470322112992058_9219414826706761_n.jpg");
        background-repeat: repeat;
        background-size: cover;
        margin-left: 70px;
        border-radius:180px;
         margin-top: 80px;
       
        -webkit-border-radius:180px;
        -moz-border-radius:180px;
        -ms-border-radius:180px;
        -o-border-radius:180px;

    }
    
    .team-div1-2{
        width: 50%;
        height: 50%;
        background-image:url("../img/201751127_4470322112992058_9219414826706761_n.jpg");
        background-repeat: repeat;
        background-size: cover;
        margin-left: 70px;
        border-radius:180px;
         margin-top: 80px;
       
        -webkit-border-radius:180px;
        -moz-border-radius:180px;
        -ms-border-radius:180px;
        -o-border-radius:180px;

    }




    .wave{
        width: 100%;
        position: absolute;
        top: 650px;
    }
    .video{
        z-index:2 ;
        position:absolute;
       margin-left: 5px;
    }
    .text1{
        margin-top: 60px;
    }